/*  || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*  || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES  */
html {
  scroll-behavior: smooth;
}

body {
  font: 1.5rem "Nunito", Sans-serif;
  min-height: 100vh;
  background-color: skyblue;
  background-image: radial-gradient(whitesmoke, skyblue);
  display: flex;
  flex-direction: column;
}

:is(header, footer, .card) {
  position: sticky;
  background-color: skyblue;
  color: rgb(0, 0, 0);
  text-align: center;
}

header {
  top: 0;
  color: lightgreen;
}

nav {
  background-color: white;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

nav a:any-link {
  color: black;
}

nav :is(a:hover, a:focus) {
  color: rgba(9, 104, 220, 0.764);
}

nav a:active {
  color: red;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

footer {
  bottom: 0;
}

/* || PROFILE CARD */
.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card :target {
  border: 5px solid lightblue;
}

.card img {
  border: 5px double black;
  border-radius: 50%;
}

.card:last-child {
  background-color: bisque;
}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

/* || THIS PSEUDO CODE CANT BE COPY */
/* .card figcaption::after {
  content: " hello";
} */

.card figcaption::after {
  content: "\2728";
}

.card p::before {
  content: open-quote;
  font-size: 1rem;
}

.card p::after {
  content: close-quote;
  font-size: 1rem;
}

.card img:not([alt]) {
  border: 5px solid red;
}

/*  || SMALL  */
@media screen and (min-width: 576px) {
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }

  .card {
    width: min(100%, 400%);
  }

  .card:last-child {
    order: -1;
  }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
  nav {
    display: none;
  }

  .card {
    width: min(100%, 352px);
  }

  .card figure {
    flex-flow: column-reverse;
  }

  .card p {
    margin-top: 1rem;
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  .card {
    width: min(100%, 400px);
  }

  .card:nth-child(2) {
    order: -1;
  }
}

/* || XL  */
@media screen and (min-width: 1200px) {
  .card {
    /* Remove calc() - min() supports
    math! */
    width: min(33% - 1rem, 500px);
  }
}

/*  || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  main {
    flex-flow: row nowrap;
  }
}
